extends layout

block content
  if user 
    p Welcome back !{user.firstname} !{user.lastname}
    a(href='/logout') Logout
    br
    a(href='/create-message') Create Message
    
    if messages 
      ul
        each message in messages
          li #[strong Text:] !{message.message}
          if user.memberstatus === "Member"
            li #[strong User:] !{message.user.username}
            li #[strong Date added:] !{message.timestamp}
          else
            li #[strong User:] anonymous
            li #[strong Date added:] hidden
          br
        else
          li There are no messages
        

  else
    a(href='/login') Login
    p
    | Welcome, thanks for checking this out. This is a message board for anyone, but if you are a member
    | you will get special priviledges to view the poster's name and the timestamp for message submission.
    | To get membership access, simply sign-up, log-in, enter in th passcode! But if you're lazy, here are
    | a few generated accounts.
    p A non-member account: non-member@non-member.com password
    p a member account: member@member.com password
