extends layout

block content
  if user 
    p Welcome back !{user.firstname} !{user.lastname}
    a(href='/logout') Logout
    br
    a(href='/create-message') Create Message
    
    if messages 
      ul
        each message in messages.reverse()
          li #[strong Text:] !{message.message}
          if user.memberstatus === "Member"
            li #[strong User:] !{message.user.username}
            li #[strong Date added:] !{message.timestamp}
          else
            li #[strong User:] anonymous
            li #[strong Date added:] hidden
          br
        else
          li There are no messages
        

  else
    a(href='/login') Login
    p
    | Welcome, thanks for checking this out. This is a message board for anyone. However, messages can only be viewed
    | by logged in users. Users with membership get additional priviledges to view author and submission date of messages.
    | The administrator account has the ability to delete messages. 
    | #[strong Please don't fill this messageboard with profanity!]
    p Admin account: admin@admin.com password
    p Non-member account: non-member@non-member.com password
    p Member account: member@member.com password
